*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.wrapper{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.window-slider{
	width: 500px;
	height: 300px;
	display: flex;
	justify-content: flex-start;
	position: relative;
	overflow: hidden;
}
.slider{
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	width: 100%	;
	height: 100%;
	   -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;	
}
.slide{
	min-width: 100%;
	height: 100%;
	display: inline-block;
	font-size: 70px;
	text-align: center;
	font-family: sans-serif;

	left: -100%;
	 
}


.button{
	width: 100px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.button-slider{
	
	padding: 20px;
	background: #ccc;
	border: 1px solid red;
}
.button-slider--left{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}
.button-slider--right{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right:  0;
}